export SOPS_AGE_KEY=$(op item get nfbawiqc4kr4yvrmxwpq7etrbm --vault 'telesto' --format json --fields password | jq .value -r)
export KUBECONFIG=$(fd --type f --absolute-path .kubeconfig.yaml | tr '\n' ':')
