
.nx/installation
.nx/cache
.nx/workspace-data

pd_data

.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
*.kubeconfig.yaml

dist/*
node_modules/
openobserve
deploy/charts/**
deploy/**/vendor/**

\.etchosts
tmp
