package pages

import "github.com/thisisibrahimd/telesto/templates/layouts"

templ Index() {
	@layouts.Main("Telesto") {
		<div class="text-center py-16">
			<h1 class="text-4xl font-bold text-gray-900">Welcome to Telesto</h1>
			<p class="mt-4 text-lg text-gray-500">Test out telemetry backends with our Telestos</p>
		</div>
	}
}
