package pages

import "github.com/ory/kratos-client-go/v26"
import "github.com/thisisibrahimd/telesto/templates/layouts"
import "github.com/thisisibrahimd/telesto/templates/components"

templ Register(form client.UiContainer) {
	@layouts.Auth("Register") {
		<div>
			<h2 class="text-2xl font-bold text-gray-900 text-center">Create an account</h2>
			@components.AuthForm(form)
		</div>
	}
}
