package layouts

import "github.com/thisisibrahimd/telesto/templates/components"

templ Main(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{ title }</title>
			@components.Head()
		</head>
		<body class="min-h-screen bg-gray-50 text-gray-900">
			@components.Nav()
			<main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
				{ children... }
			</main>
		</body>
	</html>
}
